
<div class="container">
    <div class="row pt-3 pb-3 rounded-3">
        <div class="col-2">
            <img src="https://avatars.githubusercontent.com/u/14926724" class="rounded-circle img-fluid" alt="Myself picture">
        </div>
        <div class="col-10">
            <h1>Massi aka Ergosum</h1>
            <p class="h2 text-muted"><i class="bi bi-git"></i> Linux, coding, something else...</p>
            <div class="btn-group mt-3">
                <a href="https://gitlab.com/mbugni" target="_blank" class="btn btn-lg btn-outline-secondary"><i class="bi bi-gitlab"></i> GitLab</a>
                <a href="https://github.com/mbugni" target="_blank" class="btn btn-lg btn-outline-secondary"><i class="bi bi-github"></i> GitHub</a>
            </div>
        </div>
    </div>
</div>

<div class="container py-1">

    <h2 class="mt-5">Projects I love</h2>

    <hr class="my-4"/>

    <div class="row">
        <div class="col-5">
            <img src="img/xbiont.png" class="img-fluid" alt="Xbiont Live Image">
        </div>
        <div class="col-7">
            <h3>Xbiont - The Linux symbiont</h3>
            <p>
                Linux is a digital ecosystem: the symbiont helps to create a personalized and functional environment.
                <br>
                The power of Linux for personal computing.
            </p>
            <div class="btn-group">
                <a href="https://gitlab.com/mbugni/xbiont" target="_blank" class="btn btn-lg btn-outline-secondary"><i class="bi bi-gitlab"></i> Explore</a>
            </div>
        </div>
    </div>

    <hr class="my-4"/>

    <div class="row">
        <div class="col-7">
            <h3>BitBox - AI for the masses</h3>
            <p>
                This is a containerized development environment for BitNet.
                <br>
                Optimize for your local machine and make the use of 1.58-bit inference easier.
            </p>
            <div class="btn-group">
                <a href="https://gitlab.com/mbugni/bitbox" target="_blank" class="btn btn-lg btn-outline-secondary"><i class="bi bi-gitlab"></i> Explore</a>
            </div>
        </div>
        <div class="col-5">
            <div class="ratio ratio-16x9">
                <img src="img/bitbox.png" class="img-fluid" alt="BitBox">
            </div>
        </div>
    </div>

    <hr class="my-4"/>

    <div class="row">
        <div class="col-7">
            <div id="flatpakCarousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% flathubApps.forEach(function(app, index){ %>
                    <!-- <%= app.name %> -->
                    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <img class="object-fit-cover" alt="<%= app.name %>" style="max-height: 300px;"
                                src="<%= app.image %>">
                        </div>
                        <div class="carousel-caption d-none d-md-block">
                            <a href="<%= app.link %>" target="_blank" class="btn btn-primary">
                                <img src="https://dl.flathub.org/assets/_next/static/media/flathub-logo-mini.03b2n7o0hssyj.svg" class="me-2" style="height: 1rem;" alt="Flathub">
                                <%= app.name %>
                            </a>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <a class="carousel-control-prev" href="#flatpakCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#flatpakCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>
        <div class="col-5">
            <h3>Flatpak - The Linux apps standard</h3>
            I'm the maintainer of different Flatpak apps.
        </div>
    </div>
</div>